body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
}
.card {
  display: grid;
  place-content: center;
  background-color: #161619;
}
.container {
  background-color: #23252c;
  width: 550px;
  height: 868px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin-top: 45px;
  height: 317px;
  width: 317px;
  border-top-left-radius: 5px;
}

h1 {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: -35px;
}
h4 {
  color: #f3bf99;
  font-style: bold;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: -15px;
}

.site {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: -10px;
}

.discr {
  color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 35px;
  margin-top: -15px;
}

main {
  margin-top: -4px;
  height: 399px;
  width: 317px;
  border-radius: 0px;
  background-color: #1a1b21;
  color: #ffffff;
  display: grid;
  place-items: center;
  text-align: center;
}

footer {
  background-color: #161619;
  height: 64px;
  width: 317px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
}

.social {
  color: black;
  background-color: #918e9b;
  height: 25px;
  width: 25px;
  display: grid;
  place-items: center;
  border-radius: 2px;
  margin: auto 10px;
}
h1,
h4,
.site {
  text-align: center;
  font-weight: bold;
}

.icon {
  font-size: 20px;
  margin-bottom: -5px;
}

.linkedin,
.email {
  height: 34px;
  width: 115px;
  border-radius: 6px;
  gap: 8px;
}
.linkedin {
  background-color: #5093e2;
  color: white;
  font-size: large;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 35px;
}

button,
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
